<html>
  <title>{% block title %} Home Page {%endblock%}</title>
  {% extends 'base.html' %} {% block content %}
  <head>
    <style>
      * {
        font-family: -apple-system;
      }
      .title {
        font-family: -apple-system;
        text-align: center;
        margin-top: 3%;
      }
      /* make card responsive(full screen width and centered when viewed on mobile) */
      #expense-entry {
        margin: 3% 25%;
        background-color: #404052;
        /* background-color: #323240; */

        color: whitesmoke;
      }
      .card-header {
        font-size: 1.26em;
      }
      .form-label {
        font-size: 1.1em;
      }
      .text-muted {
        font-size: 1.2em;
      }
      .break {
        height: 9%;
      }
      .expense-view {
        margin: 1% 14% 6.5% 14%;
      }

      .expense-border {
        border: solid grey 1px;
      }
      #submit-field {
        margin-top: 5%;
        width: 24vw;
        margin-bottom: -3%;
      }
      #remove-btn {
        float: right;
        color: white;
      }
      .hide {
        display: none;
      }
      .total {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Welcome to your Personal Expense Tracker</h1>
    <br />
    <div class="card text-center" id="expense-entry">
      <div class="card-header">Enter a new Expense</div>
      <div class="card-body">
        <div class="mb-3 forms">
          <form action="/home" autocomplete="off" method="POST">
            <label for="exampleFormControlInput1" class="form-label"
              >Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="amount"
              id="exampleFormControlInput1"
              placeholder="Amount in dollars"
            />
            <label for="exampleFormControlInput1" class="form-label"
              >Category</label
            >
            <select
              class="form-select"
              name="category"
              aria-label="Default select example"
            >
              <option value="Groceries" selected>Groceries</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Travel">Travel</option>
              <option value="Shopping">Shopping</option>
              <option value="Food & Drink">Food & Drink</option>
              <option value="Automotive">Automotive</option>
              <option value="Other">Other</option>
            </select>

            <label for="exampleFormControlInput1" class="form-label"
              >Notes (Optional)</label
            >
            <input
              type="text"
              class="form-control"
              name="note"
              id="note"
              placeholder="Any extra notes?"
            />
            <div class="d-grid gap-2 col-6 mx-auto" id="submit-field">
              <button class="btn btn-success" id="submit-btn" type="submit">
                Enter Expense
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer text-muted">{{user.username | title}}</div>
    </div>
    <div class="break">
      <br />
    </div>
    <div class="expense-view">
      <table class="table table-dark table-striped" id="expense-table">
        <div style="float: right; margin-right: 1px" class="btn-group dropup">
          <button
            class="btn btn-light btn-sm dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Order by
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                id="amount-btn"
                onclick="filterByAmount()"
                class="dropdown-item"
              >
                Amount
              </button>
            </li>
            <li>
              <button
                id="category-btn"
                onclick="filterByCategory()"
                class="dropdown-item"
              >
                Category
              </button>
            </li>
            <li>
              <button
                id="date-btn"
                onclick="filterByDate()"
                class="dropdown-item"
              >
                Date
              </button>
            </li>
          </ul>
        </div>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr class="default-row">
            <td>{{expense.date.strftime('%m-%d-%y')}}</td>
            <td>{{expense.category}}</td>
            <td>${{expense.amount}}.00</td>
            {% if expense.note != '' %}
            <td>
              "{{expense.note}}"
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                  id="remove-btn"
                ></button>
              </span>
            </td>
            {%else%}
            <td>
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  id="remove-btn"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                ></button>
              </span>
            </td>
            {%endif%}
          </tr>
          {% endfor %} {% for expense in date_sort %}
          <tr class="hide date-row">
            <td>{{expense.date.strftime('%m-%d-%y')}}</td>
            <td>{{expense.category}}</td>
            <td>${{expense.amount}}.00</td>
            {% if expense.note != '' %}
            <td>
              "{{expense.note}}"
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                  id="remove-btn"
                ></button>
              </span>
            </td>
            {%else%}
            <td>
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  id="remove-btn"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                ></button>
              </span>
            </td>
            {%endif%}
          </tr>
          {% endfor %} {% for expense in category_sort %}
          <tr class="hide category-row">
            <td>{{expense.date.strftime('%m-%d-%y')}}</td>
            <td>{{expense.category}}</td>
            <td>${{expense.amount}}.00</td>
            {% if expense.note != '' %}
            <td>
              "{{expense.note}}"
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                  id="remove-btn"
                ></button>
              </span>
            </td>
            {%else%}
            <td>
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  id="remove-btn"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                ></button>
              </span>
            </td>
            {%endif%}
          </tr>
          {% endfor %} {% for expense in amount_sort %}
          <tr class="hide amount-row">
            <td>{{expense.date.strftime('%m-%d-%y')}}</td>
            <td>{{expense.category}}</td>
            <td>${{expense.amount}}.00</td>
            {% if expense.note != '' %}
            <td>
              "{{expense.note}}"
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                  id="remove-btn"
                ></button>
              </span>
            </td>
            {%else%}
            <td>
              <span>
                <button
                  onclick="removeExpense({{expense.id}})"
                  type="button"
                  id="remove-btn"
                  class="btn-close btn-close-white"
                  aria-label="Close"
                ></button>
              </span>
            </td>
            {%endif%}
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4" class="total">
              Current total spent: ${{get_total(user.id)}}.00
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  {% endblock %}
</html>
